.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .dropdown-toggle {
	font-size: 1.5em;
}

.navbar .dropdown-toggle {
	font-size: 1.5em;
}

.navbar .ND {
	font-size: 1.5em; 
}

.highcharts-legend-item span {
    text-align:right;
}